* { 
    margin: 0; 
    padding: 0; 
  }

ul { 
    padding:0;
} 

header {
    display: flex;
    padding: 20px;
    background-color: #064D57;
    height: 110px;
}

h1 {
    font-size: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    text-align: center;
    padding-left: 40px;
    letter-spacing: 0.07em;
}

#chartsHeader {
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    color: #064D57;
}

#logo {
    padding-left: 35px;
	width:175px;
	height:120px;
	vertical-align: middle;
}
.nav {
    display:block;
    margin-top: 1px;
    position:sticky;
    overflow:hidden;
    background-color:#064D57;
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    font-size: 15pt;
}

.margin {
    float:left;
    display:block;
    width:20%;
    height:800px;
    padding:15px;
    border-right:solid #064D57;
    border-left:solid #064D57;
    font-family: 'Open Sans', sans-serif;
}

 .submitbutton {
	-moz-box-shadow:inset 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:inset 0px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0px 1px 3px rgba(0, 0, 0, 0.1);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:2px;
	border: 1px solid #AAA;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Verdana;
	font-size:15px;
    width: 70px;
    height: 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.submitbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

submitbutton:active {
	position:relative;
	top:1px;
}

select {
    -webkit-appearance: button;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: black;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.column {
    display:inline-flex;
    text-align: left;
    width:73.6%;
    height: 800px;
    padding:10px;
}

.footer {
    background-color:#064D57;
    color: white;
    padding: 1px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 30px;
}

.dropdown{
    text-align: center;
}

#radio {
    text-align: left;
}

#chart1, #chart2 {
    margin-left: 40px;
}

#map {
    /* float: left; */
    height:100%;
    width: 100%;
}

.currentw {
    float: left;
    font-size: 32pt;
}

.col {
    float: right;
    width: 205px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 10%;
    background: rgba(245, 245, 245, 0.3);
    color: black;
    border-radius: 2px;
    -webkit-box-shadow: -6px 4px 20px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: -6px 4px 20px 1px rgba(0,0,0,0.28);
    box-shadow: -6px 4px 20px 1px rgba(0,0,0,0.28);
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
}


#extraDropdownInfo {
    background: #fff;
	float: left;
	margin: 25px 0 0 25px;
	display: none;
	text-align: center;
	/* width: 100px; */
	padding:20px;
	border-radius: 2px 2px 2px 2px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

#extraInfoHeader {
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
}

.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(6, 77, 87,0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #064d57;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.infoicon {
    padding-top: 3px;
    margin-right: 10px;
}

.holidayinfo {
    width: 650px;
    text-align: center;
    margin-left: 33%;
    margin-top: 6px;
    background: rgba(245, 245, 245, 0.3);
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}