<!DOCTYPE html>
<html lang="en">
	
  <head>
  	<title>Dublin Bikes</title>
    <meta charset="utf-8" name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mycss.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
 
<!--Body----------------------------------------------------------------------------------->
<body>
	<div class="header">
		<a><img src="/static/images/db_logo_white.jpg" alt="logo" style="width: 75px"></a>
    	<a>Dublin Bikes</a>
		<a><img src="/static/images/db_logo_white.jpg" alt="logo" style="width: 75px"></a>
	</div>

<!--Header container------------------------------------------------------------------------->
	<div class="nav">
		<a href="index.html">Home</a>
		<a href="graph.html">Graph</a>
		<a href="details.html">Detail</a>
		<a href="contact.html">Contact</a>
	</div>


<!-------Side menu container------------------------------------------------------------------->
  
	<div class="margin">
    <br/>
    <div id="radio">
      <input type='radio' name='radioAvail' value='all' checked >All<br>
      <input type='radio' name='radioAvail' value='AvailableBikes'>Available bikes<br>
      <input type='radio' name='radioAvail' value='AvailableStands'>Available stands<br/>
    </div>
    <br/>
    <hr/>
    <br/>

    <div class="dropdown">
      <p><i>Please select your station:</i></p>  
      <form id="selections">
        <select id='list'>
          <option value='108'>Avondale Road </option>
          <option value='70'>Barrow Street </option>
          <option value='90'>Benson Street </option>
          <option value='88'>Blackhall Place </option>
          <option value='2'>Blessington Street </option>
          <option value='3'>Bolton Street </option>
          <option value='84'>Brookfield Road </option>
          <option value='109'>Buckingham Street Lower </option>
          <option value='24'>Cathal Brugha Street </option>
          <option value='5'>Charlemont Street </option>
          <option value='107'>Charleville Road </option>
          <option value='6'>Christchurch Place </option>
          <option value='99'>City Quay </option>
          <option value='54'>Clonmel Street </option>
          <option value='87'>Collins Barracks Museum </option>
          <option value='65'>Convention Centre </option>
          <option value='23'>Custom House </option>
          <option value='8'>Custom House Quay </option>
          <option value='10'>Dame Street </option>
          <option value='59'>Denmark Street Great </option>
          <option value='45'>Deverell Place </option>
          <option value='11'>Earlsfort Terrace </option>
          <option value='12'>Eccles Street </option>
          <option value='79'>Eccles Street East </option>
          <option value='83'>Emmet Road </option>
          <option value='9'>Exchequer Street </option>
          <option value='48'>Excise Walk </option>
          <option value='63'>Fenian Street </option>
          <option value='89'>Fitzwilliam Square East </option>
          <option value='13'>Fitzwilliam Square West </option>
          <option value='14'>Fownes Street Upper </option>
          <option value='73'>Francis Street </option>
          <option value='98'>Frederick Street South </option>
          <option value='50'>George's Lane </option>
          <option value='16'>Georges Quay </option>
          <option value='17'>Golden Lane </option>
          <option value='69'>Grand Canal Dock </option>
          <option value='104'>Grangegorman Lower (Central) </option>
          <option value='105'>Grangegorman Lower (North) </option>
          <option value='103'>Grangegorman Lower (South) </option>
          <option value='18'>Grantham Street </option>
          <option value='57'>Grattan Street </option>
          <option value='4'>Greek Street </option>
          <option value='49'>Guild Street </option>
          <option value='68'>Hanover Quay </option>
          <option value='41'>Harcourt Terrace </option>
          <option value='61'>Hardwicke Place </option>
          <option value='15'>Hardwicke Street </option>
          <option value='55'>Hatch Street </option>
          <option value='19'>Herbert Place </option>
          <option value='47'>Herbert Street </option>
          <option value='92'>Heuston Bridge (North) </option>
          <option value='100'>Heuston Bridge (South) </option>
          <option value='94'>Heuston Station (Car Park) </option>
          <option value='93'>Heuston Station (Central) </option>
          <option value='7'>High Street </option>
          <option value='75'>James Street </option>
          <option value='40'>Jervis Street </option>
          <option value='72'>John Street West </option>
          <option value='71'>Kevin Street </option>
          <option value='115'>Killarney Street </option>
          <option value='97'>Kilmainham Gaol </option>
          <option value='96'>Kilmainham Lane </option>
          <option value='101'>King Street North </option>
          <option value='21'>Leinster Street South </option>
          <option value='62'>Lime Street </option>
          <option value='76'>Market Street South </option>
          <option value='78'>Mater Hospital </option>
          <option value='25'>Merrion Square East </option>
          <option value='113'>Merrion Square South </option>
          <option value='26'>Merrion Square West </option>
          <option value='27'>Molesworth Street </option>
          <option value='82'>Mount Brown </option>
          <option value='56'>Mount Street Lower </option>
          <option value='111'>Mountjoy Square East </option>
          <option value='28'>Mountjoy Square West </option>
          <option value='66'>New Central Bank </option>
          <option value='53'>Newman House </option>
          <option value='60'>North Circular Road </option>
          <option value='112'>North Circular Road (O'Connell's) </option>
          <option value='74'>Oliver Bond Street </option>
          <option value='29'>Ormond Quay Upper </option>
          <option value='86'>Parkgate Street </option>
          <option value='30'>Parnell Square North </option>
          <option value='31'>Parnell Street </option>
          <option value='32'>Pearse Street </option>
          <option value='110'>Phibsborough Road </option>
          <option value='34'>Portobello Harbour </option>
          <option value='43'>Portobello Road </option>
          <option value='33'>Princes Street / O'Connell Street </option>
          <option value='106'>Rathdown Road </option>
          <option value='85'>Rothe Abbey </option>
          <option value='95'>Royal Hospital </option>
          <option value='64'>Sandwith Street </option>
          <option value='58'>Sir Patrick's Dun </option>
          <option value='35'>Smithfield </option>
          <option value='42'>Smithfield North </option>
          <option value='91'>South Dock Road </option>
          <option value='81'>St. James Hospital (Central) </option>
          <option value='80'>St James Hospital (Luas) </option>
          <option value='36'>St. Stephen's Green East </option>
          <option value='37'>St. Stephen's Green South </option>
          <option value='46'>Strand Street Great </option>
          <option value='38'>Talbot Street </option>
          <option value='67'>The Point </option>
          <option value='22'>Townsend Street </option>
          <option value='44'>Upper Sherrard Street </option>
          <option value='102'>Western Way </option>
          <option value='77'>Wolfe Tone Street </option>
          <option value='39'>Wilton Terrace </option>
          <option value='114'>Wilton Terrace (Park) </option>
          <option value='52'>York Street East</option>
          <option value='51'>York Street West</option>
        </select>
		  	<br/>
    		<br/>
        <input type="button" class="button" value="Submit" onclick="dropdown()">
		  
      </form>
    </div>
    <div id='extraDropdownInfo'>
<!--- available bikes and stands displays here --------------------------------------------->
    </div>
	</div>

	
	<div class="column">

		<div id="map" style="width:100%"></div>
  </div>
	
<!---Map script------------------------------------------------------------------------------->
    <script>
		
      var map;
      
      function initMap() {
        var myLatLng = {lat: 53.348196, lng: -6.276942}
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 53.348196, lng: -6.276942},
          zoom: 13
        });
		  
        /*pass in as a list instead of a whole string (safe instead of tojson)*/
        var markers = {{station_list | safe }};
        var infoWindow = new google.maps.InfoWindow({})
        // var markerextra;
        // var markerinfo;
        console.log(markers)
        var light = '/static/images/light.png'
        var middle = '/static/images/middle.png'
        var dark = '/static/images/dark.png'
        var lightPark = '/static/images/lightPark.png'
        var middlePark = '/static/images/middlePark.png'
        var darkPark = '/static/images/darkPark.png'

        for (var i = 0; i < markers.length; i++){
          var pos = new google.maps.LatLng(parseFloat(markers[i].latitude), parseFloat(markers[i].longitude));
          var currentIcon;
          if (markers[i].available_Bikes >= 15) {
            currentIcon = dark;
          }else if ((markers[i].available_bikes >= 5) && (markers[i].available_bikes < 15)) {
            currentIcon = middle;
          }else if (markers[i].available_bikes < 5) {
            currentIcon = light;
          }
          var marker = new google.maps.Marker({
            position: pos,
            map: map,
            icon: currentIcon,
            title: markers[i].name,
            animation: google.maps.Animation.DROP
          })
          marker.addListener('click', function() {
            map.setZoom(19);
            map.setCenter(marker.getPosition());
          });
          google.maps.event.addListener(
            marker,
            'click',
            (function(marker, i) {
              return function() {
                var contentString = markers[i].name + '<br>' + '<br>' +  'Number of bikes to ride: ' + markers[i].available_bikes
                + '<br>' + 'Number of bike stands empty: ' + markers[i].available_bike_stands + '<br>' +
                'Last updated: ' + markers[i].last_update;

                var sideContent = "<p>" + "<b>" + markers[i].address + "</b><br/><br/>" 
                + "Available bikes: " + markers[i].available_bikes + "<br/>" 
                + "Available stands: " + markers[i].available_bike_stands + "<br/>"
                + "Last updated: " + markers[i].last_update + "<br/>";

                if (markers[i].banking == 1) {
					        sideContent += "Card payments accepted: Yes";
                } else {
                  sideContent += "Card payments accepted: No";
                }

                sideContent += "</p>";

                infoWindow.setContent(contentString)
                infoWindow.open(map, marker)
                document.getElementById("extraDropdownInfo").innerHTML = sideContent;
              }
            })(marker, i)
          )
        }
    
          /*close popup window*/
         /* google.maps.event.addListener(map, 'click', function() {
          infowindow.close();
          });*/
          
        // geolocation 
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('you are here');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

	/*station list script*/
	function dropdown() {
		var markers = {{station_list | safe}};

		var ddsel = document.getElementById("list");
		var selectedStation = ddsel.options[ddsel.selectedIndex].value;

		var radios = document.getElementById("radio");
		for (var i=0; i<radios.length; i++) {
			if (radio[i].checked) {
				var selectedRadio = radios[i].value;
			}
		}

		var extraInfo = "<p>"
		// return station number - set to variable
		// if i = station number, print available bikes and available stands (check i, might need to change variables created below)
		for (var i = 0; i < markers.length; i++) {
			var availableBikes = markers[i].available_bikes;
			var availableStands = markers[i].available_bike_stands;
			var stationNum = markers[i].number;
			var stationAddress = markers[i].address;
			var lastUpdate = markers[i].last_update;
			var cardPayment = markers[i].banking;

			if (selectedStation == stationNum) {
			extraInfo += "<b>" + stationAddress + "</b><br/><br/>" 
			+ "Available bikes: " + availableBikes + "<br/>" 
			+ "Available stands: " + availableStands + "<br/>"
			+ "Last updated: " + lastUpdate + "<br/>";

				if (cardPayment == 1) {
					extraInfo += "Card payments accepted: Yes";
				} else {
					extraInfo += "Card payments accepted: No";
				}
			}
		}
		extraInfo += "</p>"
		document.getElementById("extraDropdownInfo").innerHTML = extraInfo;
    }


    //geolocation error function
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCavW5Ssi8LxuHtrKVg2vmdVkmoEm_VbBg&callback=initMap"
      async defer></script>

 <!--Footer--------------------------------------------------------------------------------------> 
	<div class="footer">
    <p>Copyright &#169 Candis, Natasha and Martin 2019</p>
  </div>
  
</body>
</html>
